<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create event</title>
</head>
<body>
    <h1>Crée un evenement</h1>

    {{ form_start(myForm) }}
        {{ form_widget(myForm) }}
        <input type="submit" value="Cree evenement">
    {{ form_end(myForm) }}
    <br>
</body>
</html>