<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create people</title>
</head>
<body>
    <h1>cree une personne</h1><br>
    
    {{ form_start(myperForm) }}
        {{ form_widget(myperForm) }}
        <input type="submit" value="Cree personne">
    {{ form_end(myperForm) }}
</body>
</html>